<h1>Add a Pedal to Your Collection</h1>
<form action="/pedals/new" method="post">
<label for="pedal_name">Name: </label>
<input type="text" name="pedal[name]" id="pedal_name"><br>
<label for="effect_type">Effect Type: </label>
<input type="text" name="pedal[effect_type]" id="effect_type"><br>
<label for="power_supply">Power Supply: </label>
<input type="text" name="pedal[power_supply]" id="power_supply"><br>
<label for="manufacturer">Manufacturer: </label>
<input type="text" name="manufacturer" id="manufacturer"><br>
<button type="submit" name="Create Pedal">Create Pedal</button>
</form>
