<h1>Add an Amp to your Collection</h1>
<form action="/amps/new" method="post">
<label for="name">Name: </label>
<input type="text" name="amp[name]" id="name"><br>
<label for="power_type">Power Type: </label>
<input type="text" name="amp[power_type]" id="power_type"><br>
<label for="watts">Watts: </label>
<input type="number" name="amp[watts]" id="watts"><br>
<label for="channels">Channels: </label>
<input type="number" name="amp[channels]" id="channels"><br>
<label for="num_speakers">Number of Speakers: </label>
<input type="number" name="amp[num_speakers]" id="num_speakers"><br>
<label for="speaker_size">Speaker Size: </label>
<input type="number" name="amp[speaker_size]" id="speaker_size"><br>
<label for="manufacturer">Manufacturer: </label>
<input type="text" name="manufacturer" id="manufacturer"><br>
<button type="submit" name="Make Amp">Make Amp</button>
</form>
